.chat-messageAA{data: {message: {id: message.id}}}
  .chat-message-box
    .message-info
      .message-info__name
        = message.user.name
      .message-info__date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image, class: 'lower-message__image' if message.image.present?
